html {
    background-color: #f2faea;
}

body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table.body_table, table.body_table th, table.body_table tr {
    border: 1px solid gray
}
table.body_table {
    width:100%;
    border-collapse: collapse;
}
tr {
    vertical-align: top;
}
a {
    font-weight: 600;
    font-size: 95%;
    text-decoration: none;
    color:#2353ad;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: rgb(70, 92, 133)
}
a:visited {
    color: rgb(55, 84, 138)
}

.side_menu {
    width: 200px;
    border-right: 1px solid #c2c4c2;
    padding: 0
}
.side_menu h1 {
    font-size: 1.5em;
    padding-left: 3px;
}
.side_menu h1 a {
    font-weight: 200;
}
.side_menu h1, .side_menu ul {
    margin-left: 10px
}
.side_menu ul {
    list-style: none;
    padding: 0;
    font-size: 11pt;
    padding-left: 4px;
    line-height: 125%;
}
.main_contents {
    padding: 16px 12px;
}

.flag_hr {
    background: linear-gradient(0,#5BCEFA 20%,#F5A9B8 20%,40%,#FFFFFF 40%,60%,#F5A9B8 60%,80%,#5BCEFA 80%);
    
    height: 20px;
    margin-left: 0px;
}

hr {
    border: 0;
    border-bottom: 1px solid #C2C4C2;
}
