.control_panel {
    border-collapse: separate;
    border-spacing: 5px;
}
.cp_panel_panel {
    border: 1px solid #c2c4c2;
    border-radius: 2px;
    padding: 4px 8px;
    min-height: 300px;
    font-size: 9pt;
    max-width: 386px;
    box-shadow: 0 2px 1px #20202010;
}
.cp_panel_panel h5 {
    font-size: 1.1em;
    margin: 3px 0;
    padding: 0;
}
.cp_panel_panel a {
    text-decoration: underline;
    color: blue;
    font-size: 100%;
}
.cp_panel_panel p {
    margin: 2px 0;
    padding: 0;
}
.cp_gb_entry .cp_gb_entry_name {
    text-align: left;
    white-space: nowrap;
    width: 1px;
}
.cp_gb_entry .cp_gb_entry_hide {
    text-align: right;
    white-space: nowrap;
    width: 1px;
}
.cp_gb_entry_hidden {
    filter: opacity(0.7)
}

input[type=submit] {
    cursor: pointer;
}