@font-face {
    font-family: 'Source Code Pro';
    src: url(./SourceCodeRegular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url(./SourceCodeMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url(./SourceCodeSemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url(./SourceCodeBold.ttf);
    font-weight: 700;
}