extends ../layout/main.pug
block root
    - var title = 'Resume'
    link(rel='stylesheet' href='/static/ui/resume.css')

block content
    h2 My online resume
    hr
    div(class='resume_app_container')
        div(id='resume_js_app')
            p(class='js_loading_indicator')
                br
                br
                | JS is loading. Please hold on...
                br
                br
                img(src='/static/ui/load.gif' style='border-radius:4px;margin-top:6px')
                br
                br
                noscript
                    span(style='font-size:9pt;color:darkred;font-weight:bold;text-align:center')
                        | It seems that you have JS disabled.
                        br
                        | Please, enable it in order to run the app.
                br
                br

block scripts

    if (process.env.APP_DEBUG != 'true')
        script(src='/static/dist/resume.js' async defer='')
    else
        script(src='http://localhost:1234/resume.js' async defer='')