extends ../layout/project.pug
block root
    - var title = 'blek! Sail'
    include ../ui/label.pug

block append content
    h2
        | blek! ID 
        +label('Abandoned', '#B9CEDB')
    p
        | blek! ID provides authentication functionality for all blek! Services.
        br
        | It was supposed to be something like OpenID Connect server, and perhaps you should use a production-ready implementation of this (like <a href='https://github.com/ory/hydra'>ory hydra</a>)