extends ../layout/project.pug
block root
    - var title = 'blek! Bin'

block append content
    h2 blek! Bin
    p
        | blek! Bin is a free, self-hosted, nojs alternative to 
        a(href='https://pastebin.com') Pastebin
        | .
        br
        | Or, in other words, a clean-code alternative to 
        a(href='https://github.com/hnhx/librebin') Librebin
        | .
    p
        | Basically, i got the idea of this project from 
        a(href='https://github.com/hnhx/librebin') Librebin
        | , which is built on bare PHP and the code is barely readable or maintainable.
        br
        | Also, Librebin has only 8 commits and the last commit was on May 30 2022 (at this moment).
    