extends ../layout/project.pug
block root
    - var title = 'blek! Bin'
    include ../lib/since.pug
    include ../ui/planned_label.pug

block append content
    h2
        | blek! Bin 
        +planned_label()
    p
        | blek! Bin is a free, self-hosted, nojs alternative to 
        a(href='https://pastebin.com') Pastebin
        | .
        br
        | Or, in other words, a clean-code alternative to 
        a(href='https://github.com/hnhx/librebin') Librebin
        | .
    p
        | Basically, i got the idea of this project from 
        a(href='https://github.com/hnhx/librebin') Librebin
        | , which is built on bare PHP and the code is barely readable or maintainable.
        br
        | Also, Librebin has only 8 commits and the last commit was on May 30 2022 (at this moment), or 
        span(style='background:#30303010;padding:2px 4px;border:1px solid #c2c4c2;font-size:10pt;border-radius:8px')
            | #{TimeSince(new Date(2022, 6, 30))} ago