extends ../layout/project.pug
block root
    - var title = 'blek! Sail'
    include ../ui/label.pug

block append content
    h2
        | blek! Sail 
        +label('Docker', '#5B9FCC')
    p
        | blek! Sail is a production-ready alternative to Laravel Sail.
        br
        | It runs on nginx + php-fpm on alpine linux
    p
        | Read the github 
        a(class='web_link' href='https://github.com/b1ek/sail') page
        |  for more info.
    p
        a(class='web_link' href='https://hub.docker.com/r/blekii/sail') Docker hub repo