extends ../layout/project.pug
block root
    - var title = 'blek! Analytics'

block append content
    h2 blek! Analytics
    p.
        For now, the project exists just as an idea of creating a self-hosted alternative of Google Analytics.
    p.
        I like google analytics but it is created by a capitalist company and all the user data is sent to Google<br/>
        which is not very good, because it can be used (and it probably is used) for empowering <a href='https://en.wikipedia.org/wiki/Global_surveillance'>Global Survelliance</a>.
    p.
        With analytics being self-hosted, all the used data is available only to hoster and therefore cannot be used for mass-spying on people.<br/>
        Of course, the hoster can access the data, but its only one person/company, not a global multinational conglomerate.