extends ../layout/project.pug
block root
    - var title = 'WinTerrEdit'

block append content
    p(align='center')
        a(class='web_link' href='https://github.com/nymda/WinTerrEdit' target='_blank')
            img(src='/content/winterredit.png' height=100)
    
    p.
        WinTerrEdit is a GUI based terraria inventory/player editor.<br/>
        My affilation with the project was adding a couple of things and refactoring the code to make it more readable<br/>
        The thing was a complete mess before i refactored it. (although it still needs some work)
    
    p.
        See the <a class='web_link' href='https://github.com/nymda/WinTerrEdit' target='_blank'>github page</a>.