block root

-
    let routes = {
        "Main page": '/',
        "Projects": "/project",
        "About me": "/about",
        "hr_1": "hr",
        "Guestbook": "/guestbook",
        "hr_2": "hr",
        "Articles": "/articles"
    }

doctype html
html(style='overflow-y:auto')
    head
        title blek! Site #{title ? "- " + title : ""}

        link(rel='stylesheet' href='/static/main.css')

        block head 
    body(style='overflow-y:auto')
        table(width='100%' height='100%' class='body_table')
            tr
                td(class='side_menu')
                    h1
                        a(href='/') blek! Site
                    hr(class='flag_hr')
                    ul 
                        each route, name in routes
                            if (route == 'hr')
                                li <hr/>
                            else
                                li(style='padding-left:4px')
                                    if current_route == route
                                        | > #{name}
                                    else
                                        a(href=route) #{name}
                td(class='main_contents')
                    block content
        block foot
        block scripts
        