extends main.pug

block append head
    <link rel='stylesheet' href='/static/ui/back_button.css'>

block content
    p(style='margin:0')
        a(href='/project' title='go back to projects page' class='back_button_1')
    hr