extends layout/main.pug
block root
    - var title = 'Projects'
block content
    h2 My projects
    
    ul
        li
            a(href='/project/blek_sail') blek! Sail
        li
            a(href='/project/blek_id') blek! ID
        li
            a(href='/project/blek_bin') blek! Bin
        li
            a(href='/project/cuteschedule') CuteSchedule
        li
            a(href='/project/vrplauncher') VRPLauncher

    h2 Projects I participated in
    
    ul
        li
            a(href='/project/winterredit') WinTerrEdit

    h2 Planned projects
    
    ul
        li
            a(href='/project/blek_anal') blek! Analytics
        li
            a(href='/project/blek_launch') blek! Launcher